*				  text=auto

*.cpp			  text
*.h				  text
*.inl			  text
*.md			  text
*.props			  text eol=crlf
*.sln			  text eol=crlf
*.txt			  text
*.vcxproj		  text eol=crlf
*.vcxproj.filters text eol=crlf
